---
import Layout from '@layouts/Layout.astro';
import ForgotPassword from '@partials/forgot-password-form.astro';
---

<Layout title="Forgot Password" >

<div class="flex min-h-full flex-col justify-center py-12 sm:px-6 lg:px-8" x-data="user">
  <template x-if="!$store.user.user && !$store.user.forgotPasswordConfirmSuccess">
  <ForgotPassword></ForgotPassword>
  </template>
  <template x-if="$store.user.forgotPasswordConfirmSuccess">
    <p>Success! Go back to <a href="/login" class="underline cursor-pointer">login page</a></p>
  </template>
</div>
<script src="../js/user.js"></script>
</Layout>