---
import Layout from '@layouts/Layout.astro';
import ForgotPassword from '@partials/forgot-password-form.astro';
---

<Layout title="Forgot Password" >

<div class="flex min-h-full flex-col justify-center py-12 sm:px-6 lg:px-8" x-data="user">
  <template x-if="!$store.user.user">
  <ForgotPassword></ForgotPassword>
  </template>
</div>
<script src="../js/user.js"></script>
</Layout>