---
import Loader from '@components/Loader.astro';
import Layout from '@layouts/Layout.astro';
import LoginForm from '@partials/login-form.astro';
---

<Layout title="Log In" >

<div class="flex min-h-full flex-col justify-center py-12 sm:px-6 lg:px-8" x-data="user">
  <template x-if="!$store.user.user">
  <LoginForm></LoginForm>
  </template>

  <template x-if="$store.user.user">
    <Loader/>
  </template>
  </div>

<script src="../js/user.js"></script>

</Layout>
