---
import ProductList from '@components/ProductList.astro'
import Layout from '@layouts/Layout.astro';
---
<Layout title="Products">
<!-- START MAIN SECTION -->
<main>
  <!-- START BREADCRUMB -->
  <section class="w-full pb-10">
    <div class="container px-4 2xl:px-20 mx-auto">
      <ul class="flex items-center gap-2 text-sm">
        <li class="">Home</li>
        <li>
          <span>/</span>
        </li>
        <li class="">Categories</li>
        <li>
          <span>/</span>
        </li>
        <li class="">Bags</li>
        <li>
          <span>/</span>
        </li>
        <li class="">Bags</li>
      </ul>
    </div>
  </section>
  <!-- END BREADCRUMB -->

  <!-- START TITLE -->
  <section class="w-full pb-10">
    <div class="container px-4 lg:px-12 2xl:px-20 mx-auto">
      <div class="flex flex-col lg:flex-row w-full gap-4 items-start">
        <div class="flex-1 pr-7">
          <h4 class="text-2xl lg:text-5xl mb-4 font-bold">Custom T-shirts</h4>
          <p class="text-base lg:text-lg">
            Custom T-shirts are an effective way to promote your company logo
            and build brand awareness. Here you’ll find a range of T-shirts to
            suit your needs, from basic tees for handing out at events to
            performance shirts that promote your business on the go.
          </p>
        </div>
        <div class="w-full hidden lg:block lg:w-1/4">
          <div class="flex items-center gap-4">
            <span>Sort By</span>
            <select
              name=""
              id=""
              class="px-5 py-3 rounded-3xl border boerder-black"
            >
              <option value="">Recommended</option>
              <option value="">Popularity</option>
              <option value="">Price Low to High</option>
              <option value="">Price High to Low</option>
            </select>
          </div>
        </div>
      </div>

      <!-- START SEARCH SECTION -->
      <div class="flex items-center flex-wrap mt-16">
        <div class="search w-1/2 lg:w-1/3">
          <input
            type="search"
            class="w-10/12 px-3 hidden lg:block py-3 rounded-3xl border border-gray-400"
            placeholder="Search within this Category"
          />
          <button
            type="search"
            class="w-10/12 px-3 py-3 rounded-3xl border border-gray-400 flex gap-3 justify-center lg:hidden"
          >
            <span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6 transform rotate-90"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="2"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4"
                ></path>
              </svg>
            </span>
            <span>Filters</span>
          </button>
        </div>
        <div class="search w-1/2 lg:w-1/3 lg:hidden">
          <button
            type="search"
            class="w-10/12 px-3 py-3 rounded-3xl border border-gray-400 flex gap-3 justify-center"
          >
            <span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="2"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
              </svg>
            </span>
            <span>Search</span>
          </button>
        </div>
        <div class="w-full lg:w-2/3 py-3 lg:py-0">
          <p class="text-gray-500 text-xl text-center lg:text-left w-full">
            210 results
          </p>
        </div>
      </div>
      <!-- END SEARCH SECTION -->
    </div>
  </section>
  <!-- END TITLE -->
  <section class="w-full pb-10">
    <div
      class="container flex flex-col lg:flex-row px-4 px-12 2xl:px-20 mx-auto"
    >
      <div class="w-full lg:w-1/4 hidden lg:block border-r pr-6">
        <!-- START ITEM -->
        <div class="border-t py-3 w-full">
          <div class="flex-1 flex justify-between items-center">
            <p>No minimum quantity</p>

            <!-- Toggle B -->
            <div class="flex items-center justify-end pr-2 switch">
              <label for="toggleB" class="flex items-center cursor-pointer">
                <!-- toggle -->
                <div class="relative">
                  <!-- input -->
                  <input type="checkbox" id="toggleB" class="sr-only" />
                  <!-- line -->
                  <div class="block bg-gray-600 w-14 h-8 rounded-full"></div>
                  <!-- dot -->
                  <div
                    class="dot absolute left-1 top-1 bg-white w-6 h-6 rounded-full transition"
                  >
                  </div>
                </div>
              </label>
            </div>
          </div>
        </div>
        <!-- START ITEM -->
        <!-- START ITEM -->
        <div class="border-t py-6 w-full">
          <div class="flex-1 relative">
            <div
              class="w-full flex justify-between items-center slide-down"
              tabindex="0"
            >
              <p class="text-xl">Categories</p>

              <div class="">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  stroke-width="2"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
                </svg>
              </div>
            </div>

            <!-- START DROPDOWN -->
            <div class="slide-down-item w-full">
              <ul>
                <li class="py-2 px-1 text-sm text-gray-600">
                  <p class="">Clothing <span>(1000)</span></p>
                  <ul class="ml-4">
                    <li class="my-2">
                      <p>Shirts & Tops <span>(100)</span></p>

                      <ul class="ml-4 border-l pt-2">
                        <li class="px-3 py-1.5">
                          <p>Shirts <span>(300)</span></p>
                        </li>
                        <li class="px-3 py-1.5">
                          <p>Dress shirts <span>(100)</span></p>
                        </li>
                        <li class="px-3 py-1.5">
                          <p>Tank Tops <span>(300)</span></p>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- START ITEM -->
        <!-- START ITEM -->
        <div class="border-t py-6 w-full">
          <div class="flex-1 relative">
            <div
              class="w-full flex justify-between items-center slide-down"
              tabindex="0"
            >
              <p class="text-xl">Color</p>

              <div class="">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  stroke-width="2"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
                </svg>
              </div>
            </div>

            <!-- START DROPDOWN -->
            <div class="slide-down-item w-full">
              <ul class="flex flex-wrap gap-4 mt-4">
                <li class="h-8 w-8 rounded-full bg-red-500"></li>
                <li class="h-8 w-8 rounded-full bg-red-500"></li>
                <li class="h-8 w-8 rounded-full bg-red-500"></li>
                <li class="h-8 w-8 rounded-full bg-red-500"></li>
                <li class="h-8 w-8 rounded-full bg-red-500"></li>
                <li class="h-8 w-8 rounded-full bg-red-500"></li>
                <li class="h-8 w-8 rounded-full bg-red-500"></li>
                <li class="h-8 w-8 rounded-full bg-red-500"></li>
                <li class="h-8 w-8 rounded-full bg-red-500"></li>
                <li class="h-8 w-8 rounded-full bg-red-500"></li>
                <li class="h-8 w-8 rounded-full bg-red-500"></li>
                <li class="h-8 w-8 rounded-full bg-red-500"></li>
                <li class="h-8 w-8 rounded-full bg-red-500"></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- START ITEM -->
        <!-- START ITEM -->
        <div class="border-t py-6 w-full">
          <div class="flex-1 relative">
            <div
              class="w-full flex justify-between items-center slide-down"
              tabindex="0"
            >
              <p class="text-xl">Gender</p>

              <div class="">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  stroke-width="2"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
                </svg>
              </div>
            </div>

            <!-- START DROPDOWN -->
            <div class="slide-down-item w-full">
              <ul>
                <li class="flex items-center my-3">
                  <input class="h-4 w-4" type="checkbox" />
                  <label for="" class="flex items-center text-gray-500 gap-1">
                    <span class="ml-2">Men</span>
                    <span class="">(128)</span>
                  </label>
                </li>
                <li class="flex items-center my-3">
                  <input class="h-4 w-4" type="checkbox" />
                  <label for="" class="flex items-center text-gray-500 gap-1">
                    <span class="ml-2">Women</span>
                    <span class="">(128)</span>
                  </label>
                </li>
                <li class="flex items-center my-3">
                  <input class="h-4 w-4" type="checkbox" />
                  <label for="" class="flex items-center text-gray-500 gap-1">
                    <span class="ml-2">Youth</span>
                    <span class="">(27)</span>
                  </label>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- START ITEM -->
        <!-- START ITEM -->
        <div class="border-t py-6 w-full">
          <div class="flex-1 relative">
            <div
              class="w-full flex justify-between items-center slide-down"
              tabindex="0"
            >
              <p class="text-xl">Brand</p>

              <div class="">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  stroke-width="2"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
                </svg>
              </div>
            </div>

            <!-- START DROPDOWN -->
            <!-- START DROPDOWN -->
            <div class="slide-down-item w-full">
              <ul>
                <li class="flex items-center my-3">
                  <input class="h-4 w-4" type="checkbox" />
                  <label for="" class="flex items-center text-gray-500 gap-1">
                    <span class="ml-2">Men</span>
                    <span class="">(128)</span>
                  </label>
                </li>
                <li class="flex items-center my-3">
                  <input class="h-4 w-4" type="checkbox" />
                  <label for="" class="flex items-center text-gray-500 gap-1">
                    <span class="ml-2">Women</span>
                    <span class="">(128)</span>
                  </label>
                </li>
                <li class="flex items-center my-3">
                  <input class="h-4 w-4" type="checkbox" />
                  <label for="" class="flex items-center text-gray-500 gap-1">
                    <span class="ml-2">Youth</span>
                    <span class="">(27)</span>
                  </label>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- START ITEM -->

        <!-- START ITEM -->
        <div class="border-t py-6 w-full">
          <div class="flex-1 relative">
            <div
              class="w-full flex justify-between items-center slide-down"
              tabindex="0"
            >
              <p class="text-xl">Decoration</p>

              <div class="">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  stroke-width="2"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
                </svg>
              </div>
            </div>

            <!-- START DROPDOWN -->
            <div class="slide-down-item w-full">
              <ul>
                <li class="flex items-center my-3">
                  <input class="h-4 w-4" type="checkbox" />
                  <label for="" class="flex items-center text-gray-500 gap-1">
                    <span class="ml-2">Men</span>
                    <span class="">(128)</span>
                  </label>
                </li>
                <li class="flex items-center my-3">
                  <input class="h-4 w-4" type="checkbox" />
                  <label for="" class="flex items-center text-gray-500 gap-1">
                    <span class="ml-2">Women</span>
                    <span class="">(128)</span>
                  </label>
                </li>
                <li class="flex items-center my-3">
                  <input class="h-4 w-4" type="checkbox" />
                  <label for="" class="flex items-center text-gray-500 gap-1">
                    <span class="ml-2">Youth</span>
                    <span class="">(27)</span>
                  </label>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- START ITEM -->

        <!-- START ITEM -->
        <div class="border-t py-6 w-full">
          <div class="flex-1 relative">
            <div
              class="w-full flex justify-between items-center slide-down"
              tabindex="0"
            >
              <p class="text-xl">Co-ordinating Styles</p>

              <div class="">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  stroke-width="2"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
                </svg>
              </div>
            </div>

            <!-- START DROPDOWN -->
            <div class="slide-down-item w-full">
              <ul>
                <li class="flex items-center my-3">
                  <input class="h-4 w-4" type="checkbox" />
                  <label for="" class="flex items-center text-gray-500 gap-1">
                    <span class="ml-2">Men</span>
                    <span class="">(128)</span>
                  </label>
                </li>
                <li class="flex items-center my-3">
                  <input class="h-4 w-4" type="checkbox" />
                  <label for="" class="flex items-center text-gray-500 gap-1">
                    <span class="ml-2">Women</span>
                    <span class="">(128)</span>
                  </label>
                </li>
                <li class="flex items-center my-3">
                  <input class="h-4 w-4" type="checkbox" />
                  <label for="" class="flex items-center text-gray-500 gap-1">
                    <span class="ml-2">Youth</span>
                    <span class="">(27)</span>
                  </label>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- START ITEM -->
        <!-- START ITEM -->
        <div class="border-t py-6 w-full">
          <div class="flex-1 relative">
            <div
              class="w-full flex justify-between items-center slide-down"
              tabindex="0"
            >
              <p class="text-xl">Special Sizes</p>

              <div class="">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  stroke-width="2"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
                </svg>
              </div>
            </div>

            <!-- START DROPDOWN -->
            <div class="slide-down-item w-full">
              <ul>
                <li class="flex items-center my-3">
                  <input class="h-4 w-4" type="checkbox" />
                  <label for="" class="flex items-center text-gray-500 gap-1">
                    <span class="ml-2">Men</span>
                    <span class="">(128)</span>
                  </label>
                </li>
                <li class="flex items-center my-3">
                  <input class="h-4 w-4" type="checkbox" />
                  <label for="" class="flex items-center text-gray-500 gap-1">
                    <span class="ml-2">Women</span>
                    <span class="">(128)</span>
                  </label>
                </li>
                <li class="flex items-center my-3">
                  <input class="h-4 w-4" type="checkbox" />
                  <label for="" class="flex items-center text-gray-500 gap-1">
                    <span class="ml-2">Youth</span>
                    <span class="">(27)</span>
                  </label>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- START ITEM -->
        <!-- START ITEM -->
        <div class="border-t py-6 w-full">
          <div class="flex-1 relative">
            <div
              class="w-full flex justify-between items-center slide-down"
              tabindex="0"
            >
              <p class="text-xl">Material</p>

              <div class="">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  stroke-width="2"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
                </svg>
              </div>
            </div>

            <!-- START DROPDOWN -->
            <div class="slide-down-item w-full">
              <ul>
                <li class="flex items-center my-3">
                  <input class="h-4 w-4" type="checkbox" />
                  <label for="" class="flex items-center text-gray-500 gap-1">
                    <span class="ml-2">Men</span>
                    <span class="">(128)</span>
                  </label>
                </li>
                <li class="flex items-center my-3">
                  <input class="h-4 w-4" type="checkbox" />
                  <label for="" class="flex items-center text-gray-500 gap-1">
                    <span class="ml-2">Women</span>
                    <span class="">(128)</span>
                  </label>
                </li>
                <li class="flex items-center my-3">
                  <input class="h-4 w-4" type="checkbox" />
                  <label for="" class="flex items-center text-gray-500 gap-1">
                    <span class="ml-2">Youth</span>
                    <span class="">(27)</span>
                  </label>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- START ITEM -->
        <!-- START ITEM -->
        <div class="border-t py-6 w-full">
          <div class="flex-1 relative">
            <div
              class="w-full flex justify-between items-center slide-down"
              tabindex="0"
            >
              <p class="text-xl">Type</p>

              <div class="">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  stroke-width="2"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
                </svg>
              </div>
            </div>

            <!-- START DROPDOWN -->
            <div class="slide-down-item w-full">
              <ul>
                <li class="flex items-center my-3">
                  <input class="h-4 w-4" type="checkbox" />
                  <label for="" class="flex items-center text-gray-500 gap-1">
                    <span class="ml-2">Men</span>
                    <span class="">(128)</span>
                  </label>
                </li>
                <li class="flex items-center my-3">
                  <input class="h-4 w-4" type="checkbox" />
                  <label for="" class="flex items-center text-gray-500 gap-1">
                    <span class="ml-2">Women</span>
                    <span class="">(128)</span>
                  </label>
                </li>
                <li class="flex items-center my-3">
                  <input class="h-4 w-4" type="checkbox" />
                  <label for="" class="flex items-center text-gray-500 gap-1">
                    <span class="ml-2">Youth</span>
                    <span class="">(27)</span>
                  </label>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- START ITEM -->
        <!-- START ITEM -->
        <div class="border-t py-6 w-full">
          <div class="flex-1 relative">
            <div
              class="w-full flex justify-between items-center slide-down"
              tabindex="0"
            >
              <p class="text-xl">Quality</p>

              <div class="">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  stroke-width="2"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
                </svg>
              </div>
            </div>

            <!-- START DROPDOWN -->
            <div class="slide-down-item w-full">
              <ul>
                <li class="flex items-center my-3">
                  <input class="h-4 w-4" type="checkbox" />
                  <label for="" class="flex items-center text-gray-500 gap-1">
                    <span class="ml-2">Men</span>
                    <span class="">(128)</span>
                  </label>
                </li>
                <li class="flex items-center my-3">
                  <input class="h-4 w-4" type="checkbox" />
                  <label for="" class="flex items-center text-gray-500 gap-1">
                    <span class="ml-2">Women</span>
                    <span class="">(128)</span>
                  </label>
                </li>
                <li class="flex items-center my-3">
                  <input class="h-4 w-4" type="checkbox" />
                  <label for="" class="flex items-center text-gray-500 gap-1">
                    <span class="ml-2">Youth</span>
                    <span class="">(27)</span>
                  </label>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- START ITEM -->

        <!-- START ITEM -->
        <div class="border-t py-6 w-full">
          <div class="flex-1 relative">
            <div
              class="w-full flex justify-between items-center slide-down"
              tabindex="0"
            >
              <p class="text-xl">Sleeves</p>

              <div class="">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  stroke-width="2"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
                </svg>
              </div>
            </div>

            <!-- START DROPDOWN -->
            <div class="slide-down-item w-full">
              <ul>
                <li class="flex items-center my-3">
                  <input class="h-4 w-4" type="checkbox" />
                  <label for="" class="flex items-center text-gray-500 gap-1">
                    <span class="ml-2">Men</span>
                    <span class="">(128)</span>
                  </label>
                </li>
                <li class="flex items-center my-3">
                  <input class="h-4 w-4" type="checkbox" />
                  <label for="" class="flex items-center text-gray-500 gap-1">
                    <span class="ml-2">Women</span>
                    <span class="">(128)</span>
                  </label>
                </li>
                <li class="flex items-center my-3">
                  <input class="h-4 w-4" type="checkbox" />
                  <label for="" class="flex items-center text-gray-500 gap-1">
                    <span class="ml-2">Youth</span>
                    <span class="">(27)</span>
                  </label>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- START ITEM -->
        <!-- START ITEM -->
        <div class="border-t py-6 w-full">
          <div class="flex-1 relative">
            <div
              class="w-full flex justify-between items-center slide-down"
              tabindex="0"
            >
              <p class="text-xl">Collar</p>

              <div class="">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  stroke-width="2"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
                </svg>
              </div>
            </div>

            <!-- START DROPDOWN -->
            <div class="slide-down-item w-full">
              <ul>
                <li class="flex items-center my-3">
                  <input class="h-4 w-4" type="checkbox" />
                  <label for="" class="flex items-center text-gray-500 gap-1">
                    <span class="ml-2">Men</span>
                    <span class="">(128)</span>
                  </label>
                </li>
                <li class="flex items-center my-3">
                  <input class="h-4 w-4" type="checkbox" />
                  <label for="" class="flex items-center text-gray-500 gap-1">
                    <span class="ml-2">Women</span>
                    <span class="">(128)</span>
                  </label>
                </li>
                <li class="flex items-center my-3">
                  <input class="h-4 w-4" type="checkbox" />
                  <label for="" class="flex items-center text-gray-500 gap-1">
                    <span class="ml-2">Youth</span>
                    <span class="">(27)</span>
                  </label>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- START ITEM -->
        <!-- START ITEM -->
        <div class="border-t py-6 w-full">
          <div class="flex-1 relative">
            <div
              class="w-full flex justify-between items-center slide-down"
              tabindex="0"
            >
              <p class="text-xl">Size</p>

              <div class="">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  stroke-width="2"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
                </svg>
              </div>
            </div>

            <!-- START DROPDOWN -->
            <!-- START DROPDOWN -->
            <div class="slide-down-item w-full">
              <ul>
                <li class="flex items-center my-3">
                  <input class="h-4 w-4" type="checkbox" />
                  <label for="" class="flex items-center text-gray-500 gap-1">
                    <span class="ml-2">Men</span>
                    <span class="">(128)</span>
                  </label>
                </li>
                <li class="flex items-center my-3">
                  <input class="h-4 w-4" type="checkbox" />
                  <label for="" class="flex items-center text-gray-500 gap-1">
                    <span class="ml-2">Women</span>
                    <span class="">(128)</span>
                  </label>
                </li>
                <li class="flex items-center my-3">
                  <input class="h-4 w-4" type="checkbox" />
                  <label for="" class="flex items-center text-gray-500 gap-1">
                    <span class="ml-2">Youth</span>
                    <span class="">(27)</span>
                  </label>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- START ITEM -->
        <!-- START ITEM -->
        <div class="border-t py-6 w-full">
          <div class="flex-1 relative">
            <div
              class="w-full flex justify-between items-center slide-down"
              tabindex="0"
            >
              <p class="text-xl">Special Features</p>

              <div class="">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  stroke-width="2"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
                </svg>
              </div>
            </div>

            <!-- START DROPDOWN -->
            <div class="slide-down-item w-full">
              <ul>
                <li class="flex items-center my-3">
                  <input class="h-4 w-4" type="checkbox" />
                  <label for="" class="flex items-center text-gray-500 gap-1">
                    <span class="ml-2">Men</span>
                    <span class="">(128)</span>
                  </label>
                </li>
                <li class="flex items-center my-3">
                  <input class="h-4 w-4" type="checkbox" />
                  <label for="" class="flex items-center text-gray-500 gap-1">
                    <span class="ml-2">Women</span>
                    <span class="">(128)</span>
                  </label>
                </li>
                <li class="flex items-center my-3">
                  <input class="h-4 w-4" type="checkbox" />
                  <label for="" class="flex items-center text-gray-500 gap-1">
                    <span class="ml-2">Youth</span>
                    <span class="">(27)</span>
                  </label>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- START ITEM -->
      </div>
    <ProductList/>
    </div>
  </section>
</main>
<!-- END MAIN SECTION -->
</Layout>