---
import Layout from "@layouts/Layout.astro";
import Reset from "@components/password-reset.svelte";
---

<Layout title="Reset your password">
  <main class="mx-auto max-w-7xl px-8 sm:px-6 sm:pt-16 lg:px-8">
  <Reset client:idle />
  </main>
</Layout>
