---
import {ProductsService} from "@services/products.service";

const bestSellers = await (new ProductsService()).bestSellers();

---
<section class="my-10 lg:pt-20">
  <div class="container px-4 mx-auto 2xl:px-20">
    <h4 class="mb-10 text-3xl font-bold lg:text-4xl">Shop Bestselling</h4>
    <div class="grid grid-cols-2 gap-6 lg:grid-cols-4">
      <!-- START ITEM -->
      <div class="flex flex-col gap-4 lg:row-span-2 lg:col-span-2">
        <img
          class="object-cover w-full h-full"
          src="https://res.cloudinary.com/promotique/image/upload/c_scale,dpr_auto,f_auto,h_700,w_auto/site%20images/category%20pages/clothing/jumpers/clothing-jumpers"
          alt=""
        />
        <a href="" class="flex items-center">
          <span>Jumpers</span>
          <span class="ml-1"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-6 h-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
            </svg>
          </span>
        </a>
      </div>

      <!-- END ITEM -->

      <!-- START ITEM -->
      <div class="flex flex-col gap-4">
        <img
          src="https://res.cloudinary.com/promotique/image/upload/c_scale,dpr_auto,f_auto,w_auto:50:411/site%20images/homepage/bestsellers/hp-bestsellers-tshirts"
          alt=""
        />
        <a href="" class="flex items-center">
          <span>T-shirts</span>
          <span class="ml-1"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-6 h-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
            </svg>
          </span>
        </a>
      </div>

      <!-- END ITEM -->

      <!-- START ITEM -->
      <div class="flex flex-col gap-4">
        <img
          src="https://res.cloudinary.com/promotique/image/upload/c_scale,dpr_auto,f_auto,w_auto:50:411/site%20images/homepage/bestsellers/hp-bestsellers-caps"
          alt=""
        />
        <a href="" class="flex items-center">
          <span>BaseBall Caps</span>
          <span class="ml-1"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-6 h-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
            </svg>
          </span>
        </a>
      </div>

      <!-- END ITEM -->

      <!-- START ITEM -->
      <div class="flex flex-col gap-4">
        <img
          src="https://res.cloudinary.com/promotique/image/upload/c_scale,dpr_auto,f_auto,w_auto:50:411/site%20images/homepage/bestsellers/hp-bestsellers-totes"
          alt=""
        />
        <a href="" class="flex items-center">
          <span>Tote Bags</span>
          <span class="ml-1"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-6 h-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
            </svg>
          </span>
        </a>
      </div>

      <!-- END ITEM -->

      <!-- START ITEM -->
      <div class="flex flex-col gap-4">
        <img
          src="https://res.cloudinary.com/promotique/image/upload/c_scale,dpr_auto,f_auto,w_auto:50:411/site%20images/homepage/bestsellers/hp-bestsellers-bottles"
          alt=""
        />
        <a href="" class="flex items-center">
          <span>Bottles</span>
          <span class="ml-1"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-6 h-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
            </svg>
          </span>
        </a>
      </div>

      <!-- END ITEM -->
    </div>
  </div>
</section>
