<section class="my-10 lg:pt-40">
  <div class="container px-4 mx-auto 2xl:px-20">
    <div class="flex flex-col items-center w-full gap-6 lg:flex-row">
      <div class="flex flex-col items-center gap-4">
        <img
          src="https://res.cloudinary.com/promotique/image/upload/c_scale,dpr_auto,f_auto,w_auto:50:660/site%20images/homepage/featured/hp-featured-home-2"
          alt=""
          srcset=""
        />
        <h4 class="text-2xl font-bold lg:text-3xl">Home office Suppliers</h4>
      </div>
      <div class="flex flex-col items-center gap-4">
        <img
          src="https://res.cloudinary.com/promotique/image/upload/c_scale,dpr_auto,f_auto,w_auto:50:660/Site%20Images/Homepage/first-aid-kit-001"
          alt=""
          srcset=""
        />
        <h4 class="text-2xl font-bold lg:text-3xl">Health & WellBeing</h4>
      </div>
    </div>
  </div>
</section>
