---
import {IEditableRegion} from "@models/editable-regions.model";
import { markdown } from '@astropub/md'
interface IProps {
  region: IEditableRegion;
}
const {region} = Astro.props as IProps;
const regionItems = region.items;
console.log(regionItems.text)
---
<section class="py-10 mt-10 bg-gray-100 lg:py-20">
  <div class="px-4 mx-auto contaner 2xl:px-20">
    <div class="grid grid-cols-2 gap-2.5">
      {regionItems.text.map(item => (
      <div class="prose leading:loose  prose-a:text-accent max-w-none">
        {markdown(item.paragraph)}
      </div>
      ))}
    </div>

  </div>
</section>
