<section class="py-10 mt-10 bg-gray-100 lg:py-20">
  <div class="px-4 mx-auto contaner 2xl:px-20">
    <div class="flex flex-col justify-between w-full lg:flex-row">
      <div class="w-full lg:w-1/4">
        <h4 class="mb-4 text-2xl font-bold lg:text-4xl">
          Find custom promo products for your company at RPS Promo.
        </h4>
        <p class="text-base font-light">
          Welcome to Promotique. Here you’ll find a wide collection of custom
          promotional products, so you can stand out in a way that’s right for
          your business. Whether you’re looking for promotional clothing and
          custom uniforms, personalised bags, or custom sports and water
          bottles, we’ve got options for your team and company.
        </p>
      </div>
      <div class="w-full lg:w-1/2">
        <div class="flex flex-col w-2/3 gap-10">
          <div class="flex flex-col">
            <h5 class="mb-3 font-bold">Low quantities</h5>
            <p class="">
              Get the products you want in the numbers you need. Many of our
              products can be ordered individually. And the more you order, the
              more you save.
            </p>
          </div>
          <!-- START ITEM -->
          <div class="flex flex-col">
            <h5 class="mb-3 font-bold">Low quantities</h5>
            <p class="">
              Upload your logo, add text and preview your design in real-time.
              Our design studio offers a wide range of fonts and makes it easy
              to add colour to your ideas.
            </p>
          </div>
          <!-- END ITEM -->
          <!-- START ITEM -->
          <div class="flex flex-col">
            <h5 class="mb-3 font-bold">Satisfaction guaranteed</h5>
            <p class="">
              We’ll do everything we can to make your experience with us a
              positive one. If you’re not 100% satisfied with your order, let us
              know and we’ll make it right.
            </p>
          </div>
          <!-- END ITEM -->
        </div>
      </div>
    </div>
  </div>
</section>
