---
import {IEditableRegion} from "../models/editable-regions.model";
import {optimizeCloudinaryImage} from "../helpers/cloudinary.helper";
interface IHeroProps {
  item: IEditableRegion;
}
const {item} = Astro.props as IHeroProps;

const region = item.items;

---
<section class="w-full">
  <div class=" px-4 my-4">
    <div class="flex flex-col items-center lg:flex-row">
      <div class="w-full px-6 pb-4 lg:pb-0 lg:w-1/2">
        <h4
          class="mb-6 text-5xl font-bold text-center lg:text-5xl lg:text-left"
        >
          {region.title}
        </h4>
        <p class="mt-4 text-lg text-center lg:text-left">
          {region['subtitle']}
        </p>
        <div class="my-4 text-center">
          <a
            href={region['cta']['url']}
            class="flex items-center justify-center w-full lg:justify-start"
          >
            <span>{region['cta']['title']}</span>

          </a>
        </div>
      </div>
      <div class="w-full lg:w-1/2">
        <img
          src={optimizeCloudinaryImage(region['image']['url'], 680, null, 'fill', 'auto:best')}
          alt={optimizeCloudinaryImage(region['image']['alt'])}
          title={optimizeCloudinaryImage(region['image']['caption'])}
          srcset=""
        />
      </div>
    </div>
  </div>
</section>
