<section class="pt-20 pb-10 my-10 bg-gray-200">
  <div class="container px-4 mx-auto 2xl:px-20">
    <div class="flex flex-col-reverse justify-center lg:flex-row">
      <img
        class="flex-grow object-cover h-64 lg:h-80 lg:-mb-20"
        src="https://res.cloudinary.com/promotique/image/upload/c_scale,dpr_auto,f_auto,w_auto:50:800/site%20images/shared/free-design-services"
        alt=""
      />
      <div class="px-10 mb-4 lg:mb-0">
        <h4 class="mb-4 text-2xl font-bold lg:text-3xl">
          Need Help With your Design?
        </h4>
        <p class="text-sm font-light">
          Speak to a designer.Call us on +357 22 38 2000
        </p>
      </div>
    </div>
  </div>
</section>
