<section class="pt-20 my-10">
  <div class="container px-4 mx-auto 2xl:px-20">
    <div class="flex  items-center w-full gap-8 ">

        <div class="col-span-8 sm:col-span-12 lg:col-span-10">
          <h4 class="mb-4 text-2xl font-bold lg:text-4xl">
            Most memorable business gifts for employees, clients, and events
          </h4>
          <p class="mb-4 text-gray-600">
            Step into our gift printing world and pick the best-suited advertising gifts according to
            your brand and receiver at the most competitive prices. Leave your mark as you give
            away truly original, eco-friendly, practical, or playful promotional products. We always
            deliver, even on last-minute orders. So, relax and contact us to cover any emergencies.
            Moreover, everything is done in-house, upkeeping our consistent quality and express
            service philosophy.
          </p>
          <p class="mb-4 text-gray-600">
            Choose from an impressive collection that brings you more than 3.000 items: our Office,
            Gifts, Seasonal, and Awards specialty Categories, as well as our complete Workwear
            and Activewear Collection are yours to select from. Or go for a make-it-your-own
            solution that successfully communicates your core business message, professionalism,
            and presence in the market. You can try out varied recyclable materials, colors,
            textures, shapes and sizes, fonts, and overall styles. So, what can we create as your
            business gift today?
          </p>
          <p class="mb-4 text-gray-600">
            P.S. We deliver all over Cyprus at no charge, with the monochrome printing also being
            free. Additionally, we can ship worldwide if you have exhibitions or partners abroad.
          </p>
        </div>


    </div>
    <div class="grid grid-cols-3 my-6">
      <div class="flex  items-center gap-4">
        <div class="icon">
          <img
              src="https://res.cloudinary.com/promotique/image/upload/c_scale,dpr_auto,f_auto,w_auto:32:32/site%20images/usps/products-for-every-occasion"
              alt="Products for every occasion"
              srcset=""
              width="32"
                height="32"
              loading="lazy"
          />
        </div>
        <p class="text-sm">Products for every occasion</p>
      </div>
      <!-- END ITEM -->

      <!-- START ITEM -->
      <div class="flex  items-center gap-4">
        <div class="icon">
          <img
              src="https://res.cloudinary.com/promotique/image/upload/c_scale,dpr_auto,f_auto,w_auto:32:32/site%20images/usps/easy-customization"
              alt="Easy customization"
              srcset=""
              width="32"
              height="32"
              loading="lazy"
          />
        </div>
        <p class="text-sm">Easy customization</p>
      </div>
      <!-- END ITEM -->
      <!-- START ITEM -->
      <div class="flex  items-center gap-4">
        <div class="icon">
          <img
              src="https://res.cloudinary.com/promotique/image/upload/c_scale,dpr_auto,f_auto,w_auto:32:32/site%20images/usps/satisfaction-guaranteed"
              alt="Satisfaction guaranteed"
              srcset=""
              width="32"
              height="32"
              loading="lazy"
          />
        </div>
        <p class="text-sm">Satisfaction guaranteed</p>
      </div>
    </div>
  </div>
</section>
