<section class="hidden pt-20 my-10 lg:block">
  <div class="container px-4 mx-auto 2xl:px-20">
    <div class="flex flex-col items-center w-full gap-8 lg:flex-row">
      <div class="w-full lg:w-1/3">
        <h4 class="mb-4 text-2xl font-bold lg:text-4xl">
          Welcome to Promotique
        </h4>
        <p class="mb-4 text-gray-600">
          Here you’ll find a wide collection of custom promotional products, so
          you can stand out in a way that’s right for your business. Whether
          you’re looking for promotional clothing and custom uniforms,
          personalised bags, or custom sports and water bottles, we’ve got
          options for your team and company.
        </p>
      </div>
      <div class="flex-grow pl-2 lg:pl-6">
        <div class="flex items-center justify-between w-full">
          <!-- START ITEM -->
          <div class="flex flex-col items-center gap-4">
            <div class="icon">
              <img
                src="https://res.cloudinary.com/promotique/image/upload/c_scale,dpr_auto,f_auto,w_auto:32:32/site%20images/usps/low-minimum"
                alt=""
                srcset=""
              />
            </div>
            <p class="text-sm">Low quantities</p>
          </div>
          <!-- END ITEM -->

          <!-- START ITEM -->
          <div class="flex flex-col items-center gap-4">
            <div class="icon">
              <img
                src="https://res.cloudinary.com/promotique/image/upload/c_scale,dpr_auto,f_auto,w_auto:32:32/site%20images/usps/products-for-every-occasion"
                alt=""
                srcset=""
              />
            </div>
            <p class="text-sm">Products for every occasion</p>
          </div>
          <!-- END ITEM -->

          <!-- START ITEM -->
          <div class="flex flex-col items-center gap-4">
            <div class="icon">
              <img
                src="https://res.cloudinary.com/promotique/image/upload/c_scale,dpr_auto,f_auto,w_auto:32:32/site%20images/usps/easy-customization"
                alt=""
                srcset=""
              />
            </div>
            <p class="text-sm">Easy customization</p>
          </div>
          <!-- END ITEM -->
          <!-- START ITEM -->
          <div class="flex flex-col items-center gap-4">
            <div class="icon">
              <img
                src="https://res.cloudinary.com/promotique/image/upload/c_scale,dpr_auto,f_auto,w_auto:32:32/site%20images/usps/satisfaction-guaranteed"
                alt=""
                srcset=""
              />
            </div>
            <p class="text-sm">Satisfaction guaranteed</p>
          </div>
          <!-- END ITEM -->
        </div>
      </div>
    </div>
  </div>
</section>
