---
const { inPlace = false } = Astro.props
---

<div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
  <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
    <form
      class="space-y-6"
      x-ref="registerForm"
      action=""
      method="POST"
      @submit.prevent="register()"
      data-inPlace={inPlace}
    >
      <div>
        <label for="email" class="block text-sm font-medium text-gray-700"
          >First Name</label
        >
        <div class="mt-1">
          <input
            id="firstName"
            name="firstName"
            type="text"
            autocomplete="firstName"
            x-model="firstName"
            required
            class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-gray-500 focus:outline-none focus:ring-gray-500 sm:text-sm"
          />
        </div>
      </div>
      <div>
        <label for="email" class="block text-sm font-medium text-gray-700"
          >Last Name</label
        >
        <div class="mt-1">
          <input
            id="lastName"
            name="lastName"
            type="text"
            autocomplete="lastName"
            x-model="lastName"
            required
            class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-gray-500 focus:outline-none focus:ring-gray-500 sm:text-sm"
          />
        </div>
      </div>
      <div>
        <label for="email" class="block text-sm font-medium text-gray-700"
          >Email address</label
        >
        <div class="mt-1">
          <input
            id="email"
            name="email"
            type="email"
            autocomplete="email"
            x-model="email"
            required
            class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-gray-500 focus:outline-none focus:ring-gray-500 sm:text-sm"
          />
        </div>
      </div>

      <div>
        <label for="password" class="block text-sm font-medium text-gray-700"
          >Password</label
        >
        <div class="mt-1">
          <input
            id="password"
            name="password"
            type="password"
            x-model="password"
            autocomplete="current-password"
            required
            class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-gray-500 focus:outline-none focus:ring-gray-500 sm:text-sm"
          />
        </div>
      </div>

      <div class="flex flex-col gap-y-4 justify-between">
        <div class="flex items-center">
          <input
            id="remember-me"
            x-model="rememberMe"
            name="remember-me"
            type="checkbox"
            class="h-4 w-4 rounded border-gray-300 text-black focus:ring-gray-500"
          />
          <label for="remember-me" class="ml-2 block text-sm text-gray-900"
            >Remember me</label
          >
        </div>

        <div>
          <button
            type="submit"
            class="flex w-full justify-center rounded-md border border-transparent bg-black py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-opacity-80 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-2"
            >Sign up</button
          >
        </div>
          <div class="relative flex justify-center text-sm">
            <span class="bg-white px-2 text-gray-500">Already a member? <a href="/login" class="underline font-medium">Sign in here!</a></span>
          </div>
      </div>
    </form>
  </div>
</div>
