---
import {config} from "@data/config";
import GDPR from "@components/gdpr-cookie.svelte";
export interface Props {
	title: string;
}
import "../input.css"
import '@fontsource/nunito';

import { SEO } from "astro-seo"
import Footer from '@components/Footer.astro';
import HeaderUserActions from '@partials/header-user-actions.astro';
import Alerts from '@components/alerts-popup.component.svelte';
const { title, seo = {} } = Astro.props;

if (!seo.title) {
	seo.title = title
}
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />

		<link rel="sitemap" href="/sitemap-index.xml">
		<SEO
			extend={seo}
			description={seo.description || config.seo.defaults.description}
			title={seo.title || title}
			canonical={seo.canonical || config.seo.defaults.canonical}
		/>
		<!-- Matomo -->
		<script>
			var _paq = window._paq = window._paq || [];
			/* tracker methods like "setCustomDimension" should be called before "trackPageView" */
			_paq.push(['trackPageView']);
			_paq.push(['enableLinkTracking']);
			(function() {
				var u="//matomo.m-crm.io/";
				_paq.push(['setTrackerUrl', u+'matomo.php']);
				_paq.push(['setSiteId', '6']);
				var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
				g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
			})();
		</script>
		<!-- End Matomo Code -->

	</head>
	<body class="antialiased font-sans">
	<Alerts client:idle />
		<HeaderUserActions/>
		<main class="bg-gray-50">
		<slot />

	</main>
	<Footer/>
	<GDPR client:idle />
	</body>


</html>
<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	}
	html {
		font-family: system-ui, sans-serif;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
