---
export interface Props {
	title: string;
}
import "../input.css"
import Footer from '@components/Footer.astro';
import HeaderUserActions from '@partials/header-user-actions.astro';
import Alerts from '@components/alerts-popup.component.svelte';
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link rel="sitemap" href="/sitemap-index.xml">
	</head>
	<body class="antialiased font-sans">
	<Alerts client:idle />
		<HeaderUserActions/>
		<main class="bg-gray-50">
		<slot />

	</main>
	<Footer/>
	</body>


</html>
<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	}
	html {
		font-family: system-ui, sans-serif;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
